# System Files
.DS_Store
Thumbs.db

# Ionic
www/
dist/
build/
.ionic/

# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
.venv
*.pyc
__pycache__


# VSCode
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Data & Model
server/data/*
server/models/*
client/src/assets/models/*

# Others
DEPLOYMENT.md
GUIDE.md