<div class="metric-row">
  <div class="metric-item">
    <span class="label">FPS</span>
    <span class="value cyan-glow">{{ fps }}</span>
  </div>
  <div class="metric-item">
    <span class="label">Inference</span>
    <span class="value">{{ inferenceTime }} ms</span>
  </div>
  <div class="metric-item">
    <span class="label">Total Cycle</span>
    <span class="value">{{ doneTime }} ms</span>
  </div>
  <div class="metric-item" *ngIf="streamWidth > 0 && streamHeight > 0">
    <span class="label">Resolution</span>
    <span class="value">{{ streamWidth }}x{{ streamHeight }}</span>
  </div>
</div>

<div class="detail-row" *ngIf="handsDetected > 0">
  <ng-container *ngIf="detectedHandsList && detectedHandsList.length > 0; else legacyBadges">
    <ng-container *ngFor="let hand of detectedHandsList; trackBy: trackByIndex">
      <div class="detail-badge pink-bg">
        <span>{{ hand.handedness }} {{ hand.score }}%</span>
      </div>
      <div class="detail-badge cyan-bg" *ngIf="hand.gesture !== 'N/A' && hand.gesture !== 'None'">
        <span>{{ hand.gesture }}</span>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #legacyBadges>
    <div class="detail-badge pink-bg">
      <span>Hand: {{ handedness }} ({{ handsDetected }} detected)</span>
    </div>
    <div class="detail-badge cyan-bg">
      <span>{{ gesture }}</span>
    </div>
  </ng-template>
</div>
